.Hero {
  min-height: 100vh;
  background-color: var(--primary);
  color: white;
}
.left,
.right {
  --padding: 70px;
  flex-basis: 100%;
  margin-top: var(--padding);
  height: calc(100vh - var(--padding));
  overflow: hidden;
  position: relative;
}

.right {
  justify-content: center;
}
.right img {
  max-width: 80%;

  border-radius: 20%;
  box-shadow: var(--shadow1);
  /* filter: saturate(24%); */
  transform: rotate(-30deg);
}
.left {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.left__container {
  gap: 0.4rem;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  font-family: var(--font1);
  font-weight: 500 !important;
  position: relative;
}
.hero__tag {
  font-size: 2.3em !important;
  font-weight: 600;
  margin: 1.5em 0;
  color: var(--secondary) !important;
  max-width: 700px;
}
.left__container__textfield {
  /* border-left: 1px solid var(--secondary); */
  position: relative;
  padding: 0;
  padding-left: 1rem;
}
.left__container__textfield::before {
  position: absolute;
  content: "";
  left: 0;
  top: 15%;
  /* transform: translateY(50%); */
  height: 77%;
  width: 1px;
  background-color: white;
}
.left__container__textfield p:first-of-type {
  font-size: var(--fs2);
  font-weight: 500;
  color: var(--secondary) !important;
}
.left__container__textfield p:nth-child(2) {
  letter-spacing: 2px;
  color: var(--secondary) !important;
}

.buttons {
  margin-top: 1em;
}
.buttons button {
  border: 2px solid var(--secondary);
}

.flat__icon__down {
  position: sticky;
  margin: 3rem 0 0 8rem !important;
  height: 60px;
}
.flat__icon__down svg {
  font-size: 2rem !important;
  -webkit-animation: move 1s ease-in-out infinite alternate;
  animation: move 1s ease-in-out infinite alternate;
  cursor: pointer;
}

@-webkit-keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
@media (max-width: 950px) {
  .right img {
    margin-top: -10em;
    margin-left: 0.3em;
  }
  .hero__tag {
    padding-right: 0.5em !important;
  }
}
@media (max-width: 786px) {
  .Hero .Hero__container {
    flex-direction: column !important;
    padding-top: 5rem;
  }
  .right img {
    margin: unset !important;
  }
  .hero__tag {
    text-align: left;
    font-size: 2em !important;
  }
  .right,
  .left {
    flex: 50%;
    width: 100%;
    padding: 3rem 0;
    align-items: center;
    margin: 0;
  }

  .Hero .right img {
    width: 60% !important;
  }
  .Hero__container .left {
    order: 2;
    padding: unset !important;
  }
  .left {
    min-width: 100%;
  }
  .flat__icon__down {
    margin: 3rem 0 2rem 0 !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  .Hero .left p:first-of-type {
    font-size: 2rem;
  }
  .hero__tag {
    font-size: 1.7em !important;
  }
}
